# Archivos de configuración sensibles
*.env
config.env
#*.yaml
#*.yml


# Archivos de logs
*.log
*.out
*.err
k8s-tools-*.log

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de editor/IDE
.vscode/
.idea/
*.swp

# Archivos de dependencias
node_modules/
vendor/

# Archivos de Kubernetes generados
*.kubeconfig
*.kube/

# Archivos temporales de instalación
dashboard-admin.yaml
argocd-values.yaml
*-values-generated.yaml